/* Alpnach by Michi von Ah */
/* Theme for iA Writer */
/* Version 1.0 */
/* Get from https://github.com/michivonah/ia-writer-template */

html{
    font-family: Arial, sans-serif;
    text-align: left;
    color: var(--color);
    --color: #000;
}

/* General text styling */
h1,
h2,
h3,
h4,
h5,
h6{
    color: var(--color);
}

h1{
    page-break-before: always;
}

p{
    text-align: left;
}

a, a:hover, a:focus{
    text-decoration: underline;
    color: var(--color);
}

/* Media */
img{
    width: 80%;
    height: auto;
    text-align: center;
}

/* Blockquotes */
blockquote{
    padding: 10px;
    background: rgba(255, 255, 0, 0.4);
    width: 90%;
    margin: auto 5%;
    font-weight: 600;
}

/* Tables */
table{
    border: 2px solid #000;
}

tr, td, th{
    border: 2px solid #000;
}

/* Code blocks */
pre{
    background: rgba(0, 0, 0, 0.9);
}

code{
    color: rgb(52, 152, 219);
}

/* Footer */
.footer{
    text-align: right;
}