<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>ch.michivonah.alpnach</string>
	<key>CFBundleName</key>
	<string>Alpnach</string>
	<key>CFBundleShortVersionString</key>
	<string>2.2</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>IATemplateDocumentFile</key>
	<string>document</string>
	<key>IATemplateFooterFile</key>
	<string>footer</string>
	<key>IATemplateFooterHeight</key>
	<integer>57</integer>
	<key>IATemplateHeaderFile</key>
	<string>header</string>
	<key>IATemplateHeaderHeight</key>
	<integer>70</integer>
	<key>IATemplateDescription</key>
	<string>A handcrafted template for stunning documents written with iA Writer - The future of writing</string>
	<key>IATemplateAuthor</key>
	<string>Michi von Ah</string>
	<key>IATemplateAuthorURL</key>
	<string>https://michivonah.ch</string>
</dict>
</plist>
